.p-1 {
  padding: 8px;
}

.pl-1 {
  padding-left: 8px;
}

.pr-1 {
  padding-right: 8px;
}

.pt-1 {
  padding-top: 8px;
}

.pb-1 {
  padding-bottom: 8px;
}

@media (min-width: 576px) {
  .p-sm-1 {
    padding: 12px;
  }
  .pl-sm-1 {
    padding-left: 12px;
  }
  .pr-sm-1 {
    padding-right: 12px;
  }
  .pt-sm-1 {
    padding-top: 12px;
  }
  .pb-sm-1 {
    padding-bottom: 12px;
  }
}
@media (min-width: 768px) {
  .p-md-1 {
    padding: 12px;
  }
  .pl-md-1 {
    padding-left: 12px;
  }
  .pr-md-1 {
    padding-right: 12px;
  }
  .pt-md-1 {
    padding-top: 12px;
  }
  .pb-md-1 {
    padding-bottom: 12px;
  }
}
@media (min-width: 992px) {
  .p-l-1 {
    padding: 12px;
  }
  .pl-l-1 {
    padding-left: 12px;
  }
  .pr-l-1 {
    padding-right: 12px;
  }
  .pt-l-1 {
    padding-top: 12px;
  }
  .pb-l-1 {
    padding-bottom: 12px;
  }
}
@media (min-width: 1200px) {
  .p-xl-1 {
    padding: 12px;
  }
  .pl-xl-1 {
    padding-left: 12px;
  }
  .pr-xl-1 {
    padding-right: 12px;
  }
  .pt-xl-1 {
    padding-top: 12px;
  }
  .pb-xl-1 {
    padding-bottom: 12px;
  }
}
.p-2 {
  padding: 12px;
}

.pl-2 {
  padding-left: 12px;
}

.pr-2 {
  padding-right: 12px;
}

.pt-2 {
  padding-top: 12px;
}

.pb-2 {
  padding-bottom: 12px;
}

@media (min-width: 576px) {
  .p-sm-2 {
    padding: 18px;
  }
  .pl-sm-2 {
    padding-left: 18px;
  }
  .pr-sm-2 {
    padding-right: 18px;
  }
  .pt-sm-2 {
    padding-top: 18px;
  }
  .pb-sm-2 {
    padding-bottom: 18px;
  }
}
@media (min-width: 768px) {
  .p-md-2 {
    padding: 18px;
  }
  .pl-md-2 {
    padding-left: 18px;
  }
  .pr-md-2 {
    padding-right: 18px;
  }
  .pt-md-2 {
    padding-top: 18px;
  }
  .pb-md-2 {
    padding-bottom: 18px;
  }
}
@media (min-width: 992px) {
  .p-l-2 {
    padding: 18px;
  }
  .pl-l-2 {
    padding-left: 18px;
  }
  .pr-l-2 {
    padding-right: 18px;
  }
  .pt-l-2 {
    padding-top: 18px;
  }
  .pb-l-2 {
    padding-bottom: 18px;
  }
}
@media (min-width: 1200px) {
  .p-xl-2 {
    padding: 18px;
  }
  .pl-xl-2 {
    padding-left: 18px;
  }
  .pr-xl-2 {
    padding-right: 18px;
  }
  .pt-xl-2 {
    padding-top: 18px;
  }
  .pb-xl-2 {
    padding-bottom: 18px;
  }
}
.p-3 {
  padding: 16px;
}

.pl-3 {
  padding-left: 16px;
}

.pr-3 {
  padding-right: 16px;
}

.pt-3 {
  padding-top: 16px;
}

.pb-3 {
  padding-bottom: 16px;
}

@media (min-width: 576px) {
  .p-sm-3 {
    padding: 24px;
  }
  .pl-sm-3 {
    padding-left: 24px;
  }
  .pr-sm-3 {
    padding-right: 24px;
  }
  .pt-sm-3 {
    padding-top: 24px;
  }
  .pb-sm-3 {
    padding-bottom: 24px;
  }
}
@media (min-width: 768px) {
  .p-md-3 {
    padding: 24px;
  }
  .pl-md-3 {
    padding-left: 24px;
  }
  .pr-md-3 {
    padding-right: 24px;
  }
  .pt-md-3 {
    padding-top: 24px;
  }
  .pb-md-3 {
    padding-bottom: 24px;
  }
}
@media (min-width: 992px) {
  .p-l-3 {
    padding: 24px;
  }
  .pl-l-3 {
    padding-left: 24px;
  }
  .pr-l-3 {
    padding-right: 24px;
  }
  .pt-l-3 {
    padding-top: 24px;
  }
  .pb-l-3 {
    padding-bottom: 24px;
  }
}
@media (min-width: 1200px) {
  .p-xl-3 {
    padding: 24px;
  }
  .pl-xl-3 {
    padding-left: 24px;
  }
  .pr-xl-3 {
    padding-right: 24px;
  }
  .pt-xl-3 {
    padding-top: 24px;
  }
  .pb-xl-3 {
    padding-bottom: 24px;
  }
}
.p-4 {
  padding: 20px;
}

.pl-4 {
  padding-left: 20px;
}

.pr-4 {
  padding-right: 20px;
}

.pt-4 {
  padding-top: 20px;
}

.pb-4 {
  padding-bottom: 20px;
}

@media (min-width: 576px) {
  .p-sm-4 {
    padding: 30px;
  }
  .pl-sm-4 {
    padding-left: 30px;
  }
  .pr-sm-4 {
    padding-right: 30px;
  }
  .pt-sm-4 {
    padding-top: 30px;
  }
  .pb-sm-4 {
    padding-bottom: 30px;
  }
}
@media (min-width: 768px) {
  .p-md-4 {
    padding: 30px;
  }
  .pl-md-4 {
    padding-left: 30px;
  }
  .pr-md-4 {
    padding-right: 30px;
  }
  .pt-md-4 {
    padding-top: 30px;
  }
  .pb-md-4 {
    padding-bottom: 30px;
  }
}
@media (min-width: 992px) {
  .p-l-4 {
    padding: 30px;
  }
  .pl-l-4 {
    padding-left: 30px;
  }
  .pr-l-4 {
    padding-right: 30px;
  }
  .pt-l-4 {
    padding-top: 30px;
  }
  .pb-l-4 {
    padding-bottom: 30px;
  }
}
@media (min-width: 1200px) {
  .p-xl-4 {
    padding: 30px;
  }
  .pl-xl-4 {
    padding-left: 30px;
  }
  .pr-xl-4 {
    padding-right: 30px;
  }
  .pt-xl-4 {
    padding-top: 30px;
  }
  .pb-xl-4 {
    padding-bottom: 30px;
  }
}
.p-5 {
  padding: 24px;
}

.pl-5 {
  padding-left: 24px;
}

.pr-5 {
  padding-right: 24px;
}

.pt-5 {
  padding-top: 24px;
}

.pb-5 {
  padding-bottom: 24px;
}

@media (min-width: 576px) {
  .p-sm-5 {
    padding: 36px;
  }
  .pl-sm-5 {
    padding-left: 36px;
  }
  .pr-sm-5 {
    padding-right: 36px;
  }
  .pt-sm-5 {
    padding-top: 36px;
  }
  .pb-sm-5 {
    padding-bottom: 36px;
  }
}
@media (min-width: 768px) {
  .p-md-5 {
    padding: 36px;
  }
  .pl-md-5 {
    padding-left: 36px;
  }
  .pr-md-5 {
    padding-right: 36px;
  }
  .pt-md-5 {
    padding-top: 36px;
  }
  .pb-md-5 {
    padding-bottom: 36px;
  }
}
@media (min-width: 992px) {
  .p-l-5 {
    padding: 36px;
  }
  .pl-l-5 {
    padding-left: 36px;
  }
  .pr-l-5 {
    padding-right: 36px;
  }
  .pt-l-5 {
    padding-top: 36px;
  }
  .pb-l-5 {
    padding-bottom: 36px;
  }
}
@media (min-width: 1200px) {
  .p-xl-5 {
    padding: 36px;
  }
  .pl-xl-5 {
    padding-left: 36px;
  }
  .pr-xl-5 {
    padding-right: 36px;
  }
  .pt-xl-5 {
    padding-top: 36px;
  }
  .pb-xl-5 {
    padding-bottom: 36px;
  }
}
.p-6 {
  padding: 28px;
}

.pl-6 {
  padding-left: 28px;
}

.pr-6 {
  padding-right: 28px;
}

.pt-6 {
  padding-top: 28px;
}

.pb-6 {
  padding-bottom: 28px;
}

@media (min-width: 576px) {
  .p-sm-6 {
    padding: 42px;
  }
  .pl-sm-6 {
    padding-left: 42px;
  }
  .pr-sm-6 {
    padding-right: 42px;
  }
  .pt-sm-6 {
    padding-top: 42px;
  }
  .pb-sm-6 {
    padding-bottom: 42px;
  }
}
@media (min-width: 768px) {
  .p-md-6 {
    padding: 42px;
  }
  .pl-md-6 {
    padding-left: 42px;
  }
  .pr-md-6 {
    padding-right: 42px;
  }
  .pt-md-6 {
    padding-top: 42px;
  }
  .pb-md-6 {
    padding-bottom: 42px;
  }
}
@media (min-width: 992px) {
  .p-l-6 {
    padding: 42px;
  }
  .pl-l-6 {
    padding-left: 42px;
  }
  .pr-l-6 {
    padding-right: 42px;
  }
  .pt-l-6 {
    padding-top: 42px;
  }
  .pb-l-6 {
    padding-bottom: 42px;
  }
}
@media (min-width: 1200px) {
  .p-xl-6 {
    padding: 42px;
  }
  .pl-xl-6 {
    padding-left: 42px;
  }
  .pr-xl-6 {
    padding-right: 42px;
  }
  .pt-xl-6 {
    padding-top: 42px;
  }
  .pb-xl-6 {
    padding-bottom: 42px;
  }
}
.p-7 {
  padding: 32px;
}

.pl-7 {
  padding-left: 32px;
}

.pr-7 {
  padding-right: 32px;
}

.pt-7 {
  padding-top: 32px;
}

.pb-7 {
  padding-bottom: 32px;
}

@media (min-width: 576px) {
  .p-sm-7 {
    padding: 48px;
  }
  .pl-sm-7 {
    padding-left: 48px;
  }
  .pr-sm-7 {
    padding-right: 48px;
  }
  .pt-sm-7 {
    padding-top: 48px;
  }
  .pb-sm-7 {
    padding-bottom: 48px;
  }
}
@media (min-width: 768px) {
  .p-md-7 {
    padding: 48px;
  }
  .pl-md-7 {
    padding-left: 48px;
  }
  .pr-md-7 {
    padding-right: 48px;
  }
  .pt-md-7 {
    padding-top: 48px;
  }
  .pb-md-7 {
    padding-bottom: 48px;
  }
}
@media (min-width: 992px) {
  .p-l-7 {
    padding: 48px;
  }
  .pl-l-7 {
    padding-left: 48px;
  }
  .pr-l-7 {
    padding-right: 48px;
  }
  .pt-l-7 {
    padding-top: 48px;
  }
  .pb-l-7 {
    padding-bottom: 48px;
  }
}
@media (min-width: 1200px) {
  .p-xl-7 {
    padding: 48px;
  }
  .pl-xl-7 {
    padding-left: 48px;
  }
  .pr-xl-7 {
    padding-right: 48px;
  }
  .pt-xl-7 {
    padding-top: 48px;
  }
  .pb-xl-7 {
    padding-bottom: 48px;
  }
}
.p-8 {
  padding: 36px;
}

.pl-8 {
  padding-left: 36px;
}

.pr-8 {
  padding-right: 36px;
}

.pt-8 {
  padding-top: 36px;
}

.pb-8 {
  padding-bottom: 36px;
}

@media (min-width: 576px) {
  .p-sm-8 {
    padding: 54px;
  }
  .pl-sm-8 {
    padding-left: 54px;
  }
  .pr-sm-8 {
    padding-right: 54px;
  }
  .pt-sm-8 {
    padding-top: 54px;
  }
  .pb-sm-8 {
    padding-bottom: 54px;
  }
}
@media (min-width: 768px) {
  .p-md-8 {
    padding: 54px;
  }
  .pl-md-8 {
    padding-left: 54px;
  }
  .pr-md-8 {
    padding-right: 54px;
  }
  .pt-md-8 {
    padding-top: 54px;
  }
  .pb-md-8 {
    padding-bottom: 54px;
  }
}
@media (min-width: 992px) {
  .p-l-8 {
    padding: 54px;
  }
  .pl-l-8 {
    padding-left: 54px;
  }
  .pr-l-8 {
    padding-right: 54px;
  }
  .pt-l-8 {
    padding-top: 54px;
  }
  .pb-l-8 {
    padding-bottom: 54px;
  }
}
@media (min-width: 1200px) {
  .p-xl-8 {
    padding: 54px;
  }
  .pl-xl-8 {
    padding-left: 54px;
  }
  .pr-xl-8 {
    padding-right: 54px;
  }
  .pt-xl-8 {
    padding-top: 54px;
  }
  .pb-xl-8 {
    padding-bottom: 54px;
  }
}
.p-9 {
  padding: 40px;
}

.pl-9 {
  padding-left: 40px;
}

.pr-9 {
  padding-right: 40px;
}

.pt-9 {
  padding-top: 40px;
}

.pb-9 {
  padding-bottom: 40px;
}

@media (min-width: 576px) {
  .p-sm-9 {
    padding: 60px;
  }
  .pl-sm-9 {
    padding-left: 60px;
  }
  .pr-sm-9 {
    padding-right: 60px;
  }
  .pt-sm-9 {
    padding-top: 60px;
  }
  .pb-sm-9 {
    padding-bottom: 60px;
  }
}
@media (min-width: 768px) {
  .p-md-9 {
    padding: 60px;
  }
  .pl-md-9 {
    padding-left: 60px;
  }
  .pr-md-9 {
    padding-right: 60px;
  }
  .pt-md-9 {
    padding-top: 60px;
  }
  .pb-md-9 {
    padding-bottom: 60px;
  }
}
@media (min-width: 992px) {
  .p-l-9 {
    padding: 60px;
  }
  .pl-l-9 {
    padding-left: 60px;
  }
  .pr-l-9 {
    padding-right: 60px;
  }
  .pt-l-9 {
    padding-top: 60px;
  }
  .pb-l-9 {
    padding-bottom: 60px;
  }
}
@media (min-width: 1200px) {
  .p-xl-9 {
    padding: 60px;
  }
  .pl-xl-9 {
    padding-left: 60px;
  }
  .pr-xl-9 {
    padding-right: 60px;
  }
  .pt-xl-9 {
    padding-top: 60px;
  }
  .pb-xl-9 {
    padding-bottom: 60px;
  }
}
.p-10 {
  padding: 44px;
}

.pl-10 {
  padding-left: 44px;
}

.pr-10 {
  padding-right: 44px;
}

.pt-10 {
  padding-top: 44px;
}

.pb-10 {
  padding-bottom: 44px;
}

@media (min-width: 576px) {
  .p-sm-10 {
    padding: 66px;
  }
  .pl-sm-10 {
    padding-left: 66px;
  }
  .pr-sm-10 {
    padding-right: 66px;
  }
  .pt-sm-10 {
    padding-top: 66px;
  }
  .pb-sm-10 {
    padding-bottom: 66px;
  }
}
@media (min-width: 768px) {
  .p-md-10 {
    padding: 66px;
  }
  .pl-md-10 {
    padding-left: 66px;
  }
  .pr-md-10 {
    padding-right: 66px;
  }
  .pt-md-10 {
    padding-top: 66px;
  }
  .pb-md-10 {
    padding-bottom: 66px;
  }
}
@media (min-width: 992px) {
  .p-l-10 {
    padding: 66px;
  }
  .pl-l-10 {
    padding-left: 66px;
  }
  .pr-l-10 {
    padding-right: 66px;
  }
  .pt-l-10 {
    padding-top: 66px;
  }
  .pb-l-10 {
    padding-bottom: 66px;
  }
}
@media (min-width: 1200px) {
  .p-xl-10 {
    padding: 66px;
  }
  .pl-xl-10 {
    padding-left: 66px;
  }
  .pr-xl-10 {
    padding-right: 66px;
  }
  .pt-xl-10 {
    padding-top: 66px;
  }
  .pb-xl-10 {
    padding-bottom: 66px;
  }
}
.p-11 {
  padding: 48px;
}

.pl-11 {
  padding-left: 48px;
}

.pr-11 {
  padding-right: 48px;
}

.pt-11 {
  padding-top: 48px;
}

.pb-11 {
  padding-bottom: 48px;
}

@media (min-width: 576px) {
  .p-sm-11 {
    padding: 72px;
  }
  .pl-sm-11 {
    padding-left: 72px;
  }
  .pr-sm-11 {
    padding-right: 72px;
  }
  .pt-sm-11 {
    padding-top: 72px;
  }
  .pb-sm-11 {
    padding-bottom: 72px;
  }
}
@media (min-width: 768px) {
  .p-md-11 {
    padding: 72px;
  }
  .pl-md-11 {
    padding-left: 72px;
  }
  .pr-md-11 {
    padding-right: 72px;
  }
  .pt-md-11 {
    padding-top: 72px;
  }
  .pb-md-11 {
    padding-bottom: 72px;
  }
}
@media (min-width: 992px) {
  .p-l-11 {
    padding: 72px;
  }
  .pl-l-11 {
    padding-left: 72px;
  }
  .pr-l-11 {
    padding-right: 72px;
  }
  .pt-l-11 {
    padding-top: 72px;
  }
  .pb-l-11 {
    padding-bottom: 72px;
  }
}
@media (min-width: 1200px) {
  .p-xl-11 {
    padding: 72px;
  }
  .pl-xl-11 {
    padding-left: 72px;
  }
  .pr-xl-11 {
    padding-right: 72px;
  }
  .pt-xl-11 {
    padding-top: 72px;
  }
  .pb-xl-11 {
    padding-bottom: 72px;
  }
}
.p-12 {
  padding: 52px;
}

.pl-12 {
  padding-left: 52px;
}

.pr-12 {
  padding-right: 52px;
}

.pt-12 {
  padding-top: 52px;
}

.pb-12 {
  padding-bottom: 52px;
}

@media (min-width: 576px) {
  .p-sm-12 {
    padding: 78px;
  }
  .pl-sm-12 {
    padding-left: 78px;
  }
  .pr-sm-12 {
    padding-right: 78px;
  }
  .pt-sm-12 {
    padding-top: 78px;
  }
  .pb-sm-12 {
    padding-bottom: 78px;
  }
}
@media (min-width: 768px) {
  .p-md-12 {
    padding: 78px;
  }
  .pl-md-12 {
    padding-left: 78px;
  }
  .pr-md-12 {
    padding-right: 78px;
  }
  .pt-md-12 {
    padding-top: 78px;
  }
  .pb-md-12 {
    padding-bottom: 78px;
  }
}
@media (min-width: 992px) {
  .p-l-12 {
    padding: 78px;
  }
  .pl-l-12 {
    padding-left: 78px;
  }
  .pr-l-12 {
    padding-right: 78px;
  }
  .pt-l-12 {
    padding-top: 78px;
  }
  .pb-l-12 {
    padding-bottom: 78px;
  }
}
@media (min-width: 1200px) {
  .p-xl-12 {
    padding: 78px;
  }
  .pl-xl-12 {
    padding-left: 78px;
  }
  .pr-xl-12 {
    padding-right: 78px;
  }
  .pt-xl-12 {
    padding-top: 78px;
  }
  .pb-xl-12 {
    padding-bottom: 78px;
  }
}
.m-1 {
  margin: 8px;
}

.ml-1 {
  margin-left: 8px;
}

.mr-1 {
  margin-right: 8px;
}

.mt-1 {
  margin-top: 8px;
}

.mb-1 {
  margin-bottom: 8px;
}

@media (min-width: 576px) {
  .m-sm-1 {
    margin: 12px;
  }
  .ml-sm-1 {
    margin-left: 12px;
  }
  .mr-sm-1 {
    margin-right: 12px;
  }
  .mt-sm-1 {
    margin-top: 12px;
  }
  .mb-sm-1 {
    margin-bottom: 12px;
  }
}
@media (min-width: 768px) {
  .m-md-1 {
    margin: 12px;
  }
  .ml-md-1 {
    margin-left: 12px;
  }
  .mr-md-1 {
    margin-right: 12px;
  }
  .mt-md-1 {
    margin-top: 12px;
  }
  .mb-md-1 {
    margin-bottom: 12px;
  }
}
@media (min-width: 992px) {
  .m-l-1 {
    margin: 12px;
  }
  .ml-l-1 {
    margin-left: 12px;
  }
  .mr-l-1 {
    margin-right: 12px;
  }
  .mt-l-1 {
    margin-top: 12px;
  }
  .mb-l-1 {
    margin-bottom: 12px;
  }
}
@media (min-width: 1200px) {
  .m-xl-1 {
    margin: 12px;
  }
  .ml-xl-1 {
    margin-left: 12px;
  }
  .mr-xl-1 {
    margin-right: 12px;
  }
  .mt-xl-1 {
    margin-top: 12px;
  }
  .mb-xl-1 {
    margin-bottom: 12px;
  }
}
.m-2 {
  margin: 12px;
}

.ml-2 {
  margin-left: 12px;
}

.mr-2 {
  margin-right: 12px;
}

.mt-2 {
  margin-top: 12px;
}

.mb-2 {
  margin-bottom: 12px;
}

@media (min-width: 576px) {
  .m-sm-2 {
    margin: 18px;
  }
  .ml-sm-2 {
    margin-left: 18px;
  }
  .mr-sm-2 {
    margin-right: 18px;
  }
  .mt-sm-2 {
    margin-top: 18px;
  }
  .mb-sm-2 {
    margin-bottom: 18px;
  }
}
@media (min-width: 768px) {
  .m-md-2 {
    margin: 18px;
  }
  .ml-md-2 {
    margin-left: 18px;
  }
  .mr-md-2 {
    margin-right: 18px;
  }
  .mt-md-2 {
    margin-top: 18px;
  }
  .mb-md-2 {
    margin-bottom: 18px;
  }
}
@media (min-width: 992px) {
  .m-l-2 {
    margin: 18px;
  }
  .ml-l-2 {
    margin-left: 18px;
  }
  .mr-l-2 {
    margin-right: 18px;
  }
  .mt-l-2 {
    margin-top: 18px;
  }
  .mb-l-2 {
    margin-bottom: 18px;
  }
}
@media (min-width: 1200px) {
  .m-xl-2 {
    margin: 18px;
  }
  .ml-xl-2 {
    margin-left: 18px;
  }
  .mr-xl-2 {
    margin-right: 18px;
  }
  .mt-xl-2 {
    margin-top: 18px;
  }
  .mb-xl-2 {
    margin-bottom: 18px;
  }
}
.m-3 {
  margin: 16px;
}

.ml-3 {
  margin-left: 16px;
}

.mr-3 {
  margin-right: 16px;
}

.mt-3 {
  margin-top: 16px;
}

.mb-3 {
  margin-bottom: 16px;
}

@media (min-width: 576px) {
  .m-sm-3 {
    margin: 24px;
  }
  .ml-sm-3 {
    margin-left: 24px;
  }
  .mr-sm-3 {
    margin-right: 24px;
  }
  .mt-sm-3 {
    margin-top: 24px;
  }
  .mb-sm-3 {
    margin-bottom: 24px;
  }
}
@media (min-width: 768px) {
  .m-md-3 {
    margin: 24px;
  }
  .ml-md-3 {
    margin-left: 24px;
  }
  .mr-md-3 {
    margin-right: 24px;
  }
  .mt-md-3 {
    margin-top: 24px;
  }
  .mb-md-3 {
    margin-bottom: 24px;
  }
}
@media (min-width: 992px) {
  .m-l-3 {
    margin: 24px;
  }
  .ml-l-3 {
    margin-left: 24px;
  }
  .mr-l-3 {
    margin-right: 24px;
  }
  .mt-l-3 {
    margin-top: 24px;
  }
  .mb-l-3 {
    margin-bottom: 24px;
  }
}
@media (min-width: 1200px) {
  .m-xl-3 {
    margin: 24px;
  }
  .ml-xl-3 {
    margin-left: 24px;
  }
  .mr-xl-3 {
    margin-right: 24px;
  }
  .mt-xl-3 {
    margin-top: 24px;
  }
  .mb-xl-3 {
    margin-bottom: 24px;
  }
}
.m-4 {
  margin: 20px;
}

.ml-4 {
  margin-left: 20px;
}

.mr-4 {
  margin-right: 20px;
}

.mt-4 {
  margin-top: 20px;
}

.mb-4 {
  margin-bottom: 20px;
}

@media (min-width: 576px) {
  .m-sm-4 {
    margin: 30px;
  }
  .ml-sm-4 {
    margin-left: 30px;
  }
  .mr-sm-4 {
    margin-right: 30px;
  }
  .mt-sm-4 {
    margin-top: 30px;
  }
  .mb-sm-4 {
    margin-bottom: 30px;
  }
}
@media (min-width: 768px) {
  .m-md-4 {
    margin: 30px;
  }
  .ml-md-4 {
    margin-left: 30px;
  }
  .mr-md-4 {
    margin-right: 30px;
  }
  .mt-md-4 {
    margin-top: 30px;
  }
  .mb-md-4 {
    margin-bottom: 30px;
  }
}
@media (min-width: 992px) {
  .m-l-4 {
    margin: 30px;
  }
  .ml-l-4 {
    margin-left: 30px;
  }
  .mr-l-4 {
    margin-right: 30px;
  }
  .mt-l-4 {
    margin-top: 30px;
  }
  .mb-l-4 {
    margin-bottom: 30px;
  }
}
@media (min-width: 1200px) {
  .m-xl-4 {
    margin: 30px;
  }
  .ml-xl-4 {
    margin-left: 30px;
  }
  .mr-xl-4 {
    margin-right: 30px;
  }
  .mt-xl-4 {
    margin-top: 30px;
  }
  .mb-xl-4 {
    margin-bottom: 30px;
  }
}
.m-5 {
  margin: 24px;
}

.ml-5 {
  margin-left: 24px;
}

.mr-5 {
  margin-right: 24px;
}

.mt-5 {
  margin-top: 24px;
}

.mb-5 {
  margin-bottom: 24px;
}

@media (min-width: 576px) {
  .m-sm-5 {
    margin: 36px;
  }
  .ml-sm-5 {
    margin-left: 36px;
  }
  .mr-sm-5 {
    margin-right: 36px;
  }
  .mt-sm-5 {
    margin-top: 36px;
  }
  .mb-sm-5 {
    margin-bottom: 36px;
  }
}
@media (min-width: 768px) {
  .m-md-5 {
    margin: 36px;
  }
  .ml-md-5 {
    margin-left: 36px;
  }
  .mr-md-5 {
    margin-right: 36px;
  }
  .mt-md-5 {
    margin-top: 36px;
  }
  .mb-md-5 {
    margin-bottom: 36px;
  }
}
@media (min-width: 992px) {
  .m-l-5 {
    margin: 36px;
  }
  .ml-l-5 {
    margin-left: 36px;
  }
  .mr-l-5 {
    margin-right: 36px;
  }
  .mt-l-5 {
    margin-top: 36px;
  }
  .mb-l-5 {
    margin-bottom: 36px;
  }
}
@media (min-width: 1200px) {
  .m-xl-5 {
    margin: 36px;
  }
  .ml-xl-5 {
    margin-left: 36px;
  }
  .mr-xl-5 {
    margin-right: 36px;
  }
  .mt-xl-5 {
    margin-top: 36px;
  }
  .mb-xl-5 {
    margin-bottom: 36px;
  }
}
.m-6 {
  margin: 28px;
}

.ml-6 {
  margin-left: 28px;
}

.mr-6 {
  margin-right: 28px;
}

.mt-6 {
  margin-top: 28px;
}

.mb-6 {
  margin-bottom: 28px;
}

@media (min-width: 576px) {
  .m-sm-6 {
    margin: 42px;
  }
  .ml-sm-6 {
    margin-left: 42px;
  }
  .mr-sm-6 {
    margin-right: 42px;
  }
  .mt-sm-6 {
    margin-top: 42px;
  }
  .mb-sm-6 {
    margin-bottom: 42px;
  }
}
@media (min-width: 768px) {
  .m-md-6 {
    margin: 42px;
  }
  .ml-md-6 {
    margin-left: 42px;
  }
  .mr-md-6 {
    margin-right: 42px;
  }
  .mt-md-6 {
    margin-top: 42px;
  }
  .mb-md-6 {
    margin-bottom: 42px;
  }
}
@media (min-width: 992px) {
  .m-l-6 {
    margin: 42px;
  }
  .ml-l-6 {
    margin-left: 42px;
  }
  .mr-l-6 {
    margin-right: 42px;
  }
  .mt-l-6 {
    margin-top: 42px;
  }
  .mb-l-6 {
    margin-bottom: 42px;
  }
}
@media (min-width: 1200px) {
  .m-xl-6 {
    margin: 42px;
  }
  .ml-xl-6 {
    margin-left: 42px;
  }
  .mr-xl-6 {
    margin-right: 42px;
  }
  .mt-xl-6 {
    margin-top: 42px;
  }
  .mb-xl-6 {
    margin-bottom: 42px;
  }
}
.m-7 {
  margin: 32px;
}

.ml-7 {
  margin-left: 32px;
}

.mr-7 {
  margin-right: 32px;
}

.mt-7 {
  margin-top: 32px;
}

.mb-7 {
  margin-bottom: 32px;
}

@media (min-width: 576px) {
  .m-sm-7 {
    margin: 48px;
  }
  .ml-sm-7 {
    margin-left: 48px;
  }
  .mr-sm-7 {
    margin-right: 48px;
  }
  .mt-sm-7 {
    margin-top: 48px;
  }
  .mb-sm-7 {
    margin-bottom: 48px;
  }
}
@media (min-width: 768px) {
  .m-md-7 {
    margin: 48px;
  }
  .ml-md-7 {
    margin-left: 48px;
  }
  .mr-md-7 {
    margin-right: 48px;
  }
  .mt-md-7 {
    margin-top: 48px;
  }
  .mb-md-7 {
    margin-bottom: 48px;
  }
}
@media (min-width: 992px) {
  .m-l-7 {
    margin: 48px;
  }
  .ml-l-7 {
    margin-left: 48px;
  }
  .mr-l-7 {
    margin-right: 48px;
  }
  .mt-l-7 {
    margin-top: 48px;
  }
  .mb-l-7 {
    margin-bottom: 48px;
  }
}
@media (min-width: 1200px) {
  .m-xl-7 {
    margin: 48px;
  }
  .ml-xl-7 {
    margin-left: 48px;
  }
  .mr-xl-7 {
    margin-right: 48px;
  }
  .mt-xl-7 {
    margin-top: 48px;
  }
  .mb-xl-7 {
    margin-bottom: 48px;
  }
}
.m-8 {
  margin: 36px;
}

.ml-8 {
  margin-left: 36px;
}

.mr-8 {
  margin-right: 36px;
}

.mt-8 {
  margin-top: 36px;
}

.mb-8 {
  margin-bottom: 36px;
}

@media (min-width: 576px) {
  .m-sm-8 {
    margin: 54px;
  }
  .ml-sm-8 {
    margin-left: 54px;
  }
  .mr-sm-8 {
    margin-right: 54px;
  }
  .mt-sm-8 {
    margin-top: 54px;
  }
  .mb-sm-8 {
    margin-bottom: 54px;
  }
}
@media (min-width: 768px) {
  .m-md-8 {
    margin: 54px;
  }
  .ml-md-8 {
    margin-left: 54px;
  }
  .mr-md-8 {
    margin-right: 54px;
  }
  .mt-md-8 {
    margin-top: 54px;
  }
  .mb-md-8 {
    margin-bottom: 54px;
  }
}
@media (min-width: 992px) {
  .m-l-8 {
    margin: 54px;
  }
  .ml-l-8 {
    margin-left: 54px;
  }
  .mr-l-8 {
    margin-right: 54px;
  }
  .mt-l-8 {
    margin-top: 54px;
  }
  .mb-l-8 {
    margin-bottom: 54px;
  }
}
@media (min-width: 1200px) {
  .m-xl-8 {
    margin: 54px;
  }
  .ml-xl-8 {
    margin-left: 54px;
  }
  .mr-xl-8 {
    margin-right: 54px;
  }
  .mt-xl-8 {
    margin-top: 54px;
  }
  .mb-xl-8 {
    margin-bottom: 54px;
  }
}
.m-9 {
  margin: 40px;
}

.ml-9 {
  margin-left: 40px;
}

.mr-9 {
  margin-right: 40px;
}

.mt-9 {
  margin-top: 40px;
}

.mb-9 {
  margin-bottom: 40px;
}

@media (min-width: 576px) {
  .m-sm-9 {
    margin: 60px;
  }
  .ml-sm-9 {
    margin-left: 60px;
  }
  .mr-sm-9 {
    margin-right: 60px;
  }
  .mt-sm-9 {
    margin-top: 60px;
  }
  .mb-sm-9 {
    margin-bottom: 60px;
  }
}
@media (min-width: 768px) {
  .m-md-9 {
    margin: 60px;
  }
  .ml-md-9 {
    margin-left: 60px;
  }
  .mr-md-9 {
    margin-right: 60px;
  }
  .mt-md-9 {
    margin-top: 60px;
  }
  .mb-md-9 {
    margin-bottom: 60px;
  }
}
@media (min-width: 992px) {
  .m-l-9 {
    margin: 60px;
  }
  .ml-l-9 {
    margin-left: 60px;
  }
  .mr-l-9 {
    margin-right: 60px;
  }
  .mt-l-9 {
    margin-top: 60px;
  }
  .mb-l-9 {
    margin-bottom: 60px;
  }
}
@media (min-width: 1200px) {
  .m-xl-9 {
    margin: 60px;
  }
  .ml-xl-9 {
    margin-left: 60px;
  }
  .mr-xl-9 {
    margin-right: 60px;
  }
  .mt-xl-9 {
    margin-top: 60px;
  }
  .mb-xl-9 {
    margin-bottom: 60px;
  }
}
.m-10 {
  margin: 44px;
}

.ml-10 {
  margin-left: 44px;
}

.mr-10 {
  margin-right: 44px;
}

.mt-10 {
  margin-top: 44px;
}

.mb-10 {
  margin-bottom: 44px;
}

@media (min-width: 576px) {
  .m-sm-10 {
    margin: 66px;
  }
  .ml-sm-10 {
    margin-left: 66px;
  }
  .mr-sm-10 {
    margin-right: 66px;
  }
  .mt-sm-10 {
    margin-top: 66px;
  }
  .mb-sm-10 {
    margin-bottom: 66px;
  }
}
@media (min-width: 768px) {
  .m-md-10 {
    margin: 66px;
  }
  .ml-md-10 {
    margin-left: 66px;
  }
  .mr-md-10 {
    margin-right: 66px;
  }
  .mt-md-10 {
    margin-top: 66px;
  }
  .mb-md-10 {
    margin-bottom: 66px;
  }
}
@media (min-width: 992px) {
  .m-l-10 {
    margin: 66px;
  }
  .ml-l-10 {
    margin-left: 66px;
  }
  .mr-l-10 {
    margin-right: 66px;
  }
  .mt-l-10 {
    margin-top: 66px;
  }
  .mb-l-10 {
    margin-bottom: 66px;
  }
}
@media (min-width: 1200px) {
  .m-xl-10 {
    margin: 66px;
  }
  .ml-xl-10 {
    margin-left: 66px;
  }
  .mr-xl-10 {
    margin-right: 66px;
  }
  .mt-xl-10 {
    margin-top: 66px;
  }
  .mb-xl-10 {
    margin-bottom: 66px;
  }
}
.m-11 {
  margin: 48px;
}

.ml-11 {
  margin-left: 48px;
}

.mr-11 {
  margin-right: 48px;
}

.mt-11 {
  margin-top: 48px;
}

.mb-11 {
  margin-bottom: 48px;
}

@media (min-width: 576px) {
  .m-sm-11 {
    margin: 72px;
  }
  .ml-sm-11 {
    margin-left: 72px;
  }
  .mr-sm-11 {
    margin-right: 72px;
  }
  .mt-sm-11 {
    margin-top: 72px;
  }
  .mb-sm-11 {
    margin-bottom: 72px;
  }
}
@media (min-width: 768px) {
  .m-md-11 {
    margin: 72px;
  }
  .ml-md-11 {
    margin-left: 72px;
  }
  .mr-md-11 {
    margin-right: 72px;
  }
  .mt-md-11 {
    margin-top: 72px;
  }
  .mb-md-11 {
    margin-bottom: 72px;
  }
}
@media (min-width: 992px) {
  .m-l-11 {
    margin: 72px;
  }
  .ml-l-11 {
    margin-left: 72px;
  }
  .mr-l-11 {
    margin-right: 72px;
  }
  .mt-l-11 {
    margin-top: 72px;
  }
  .mb-l-11 {
    margin-bottom: 72px;
  }
}
@media (min-width: 1200px) {
  .m-xl-11 {
    margin: 72px;
  }
  .ml-xl-11 {
    margin-left: 72px;
  }
  .mr-xl-11 {
    margin-right: 72px;
  }
  .mt-xl-11 {
    margin-top: 72px;
  }
  .mb-xl-11 {
    margin-bottom: 72px;
  }
}
.m-12 {
  margin: 52px;
}

.ml-12 {
  margin-left: 52px;
}

.mr-12 {
  margin-right: 52px;
}

.mt-12 {
  margin-top: 52px;
}

.mb-12 {
  margin-bottom: 52px;
}

@media (min-width: 576px) {
  .m-sm-12 {
    margin: 78px;
  }
  .ml-sm-12 {
    margin-left: 78px;
  }
  .mr-sm-12 {
    margin-right: 78px;
  }
  .mt-sm-12 {
    margin-top: 78px;
  }
  .mb-sm-12 {
    margin-bottom: 78px;
  }
}
@media (min-width: 768px) {
  .m-md-12 {
    margin: 78px;
  }
  .ml-md-12 {
    margin-left: 78px;
  }
  .mr-md-12 {
    margin-right: 78px;
  }
  .mt-md-12 {
    margin-top: 78px;
  }
  .mb-md-12 {
    margin-bottom: 78px;
  }
}
@media (min-width: 992px) {
  .m-l-12 {
    margin: 78px;
  }
  .ml-l-12 {
    margin-left: 78px;
  }
  .mr-l-12 {
    margin-right: 78px;
  }
  .mt-l-12 {
    margin-top: 78px;
  }
  .mb-l-12 {
    margin-bottom: 78px;
  }
}
@media (min-width: 1200px) {
  .m-xl-12 {
    margin: 78px;
  }
  .ml-xl-12 {
    margin-left: 78px;
  }
  .mr-xl-12 {
    margin-right: 78px;
  }
  .mt-xl-12 {
    margin-top: 78px;
  }
  .mb-xl-12 {
    margin-bottom: 78px;
  }
}
.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 15px;
  background-color: #fff;
}

@media (max-width: 1200px) {
  .row {
    max-width: 1350px;
  }
}
@media (max-width: 992px) {
  .row {
    max-width: 800px;
  }
}
@media (max-width: 768px) {
  .row {
    max-width: 600px;
  }
}
@media (max-width: 576px) {
  .row {
    max-width: 100%;
    padding: 0 10px;
    display: block;
  }
}

.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}

@media (min-width: 576px) {
  .col-sm-1 {
    width: 8.3333333333%;
  }
  .col-sm-2 {
    width: 16.6666666667%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.3333333333%;
  }
  .col-sm-5 {
    width: 41.6666666667%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.3333333333%;
  }
  .col-sm-8 {
    width: 66.6666666667%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.3333333333%;
  }
  .col-sm-11 {
    width: 91.6666666667%;
  }
  .col-sm-12 {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .col-md-1 {
    width: 8.3333333333%;
  }
  .col-md-2 {
    width: 16.6666666667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.3333333333%;
  }
  .col-md-5 {
    width: 41.6666666667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.3333333333%;
  }
  .col-md-8 {
    width: 66.6666666667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.3333333333%;
  }
  .col-md-11 {
    width: 91.6666666667%;
  }
  .col-md-12 {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .col-lg-1 {
    width: 8.3333333333%;
  }
  .col-lg-2 {
    width: 16.6666666667%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.3333333333%;
  }
  .col-lg-5 {
    width: 41.6666666667%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.3333333333%;
  }
  .col-lg-8 {
    width: 66.6666666667%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.3333333333%;
  }
  .col-lg-11 {
    width: 91.6666666667%;
  }
  .col-lg-12 {
    width: 100%;
  }
}
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

@keyframes animate {
  0% {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(1.4) rotate(4deg);
    -webkit-transform: scale(1.4) rotate(4deg);
    -moz-transform: scale(1.4) rotate(4deg);
    -ms-transform: scale(1.4) rotate(4deg);
    -o-transform: scale(1.4) rotate(4deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
    -webkit-transform: scale(1) rotate(0deg);
    -moz-transform: scale(1) rotate(0deg);
    -ms-transform: scale(1) rotate(0deg);
    -o-transform: scale(1) rotate(0deg);
  }
}
body {
  background: linear-gradient(to right, #578FCA, #3674B5, #A1E3F9);
}
body .center {
  min-height: 100vh;
}
body .rectangle1,
body .rectangle2 {
  filter: blur(15px);
  animation: animate 2s infinite ease-in-out;
  -webkit-animation: animate 2s infinite ease-in-out;
  -webkit-filter: blur(15px);
}
body .rectangle {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  position: absolute;
  z-index: -1;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
body .rectangle1 {
  top: 90px;
  left: 150px;
  background-color: #A1E3F9;
  filter: blur(15px);
  transition: transform 0.5s ease-in-out;
}
body .rectangle1:hover {
  transform: scale(1.2);
}
body .rectangle2 {
  bottom: 90px;
  right: 150px;
  background-color: #3674B5;
  filter: blur(15px);
  transition: transform 0.5s ease-in-out;
}
body .rectangle2:hover {
  transform: scale(1.2);
}
@media (max-width: 768px) {
  body .rectangle1,
  body .rectangle2 {
    display: none;
  }
}

.box {
  width: 70%;
  margin: auto;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 10px #A1E3F9;
}
.box h1 {
  text-align: center;
  font-size: 2rem;
  color: #578FCA;
}

label {
  font-size: 1rem;
}

.row .input-group input {
  width: 100%;
  border: 2px solid #ccc;
  outline: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.row .input-group input:focus {
  border-color: #578FCA;
  box-shadow: 0 0 5px #578FCA;
}
.row .btn {
  background: linear-gradient(to right, #578FCA, #3674B5, #A1E3F9);
  transition: background 1.5s;
  color: #ffffff;
  border-radius: 5px;
  font-size: 1rem;
  border: none;
}
.row .btn:hover {
  background: linear-gradient(to right, #A1E3F9, #D1F8EF);
}

.flex {
  display: flex;
  align-items: center;
  justify-self: center;
}/*# sourceMappingURL=style.css.map */